{{#partial "content"}}
    <header>
        <div class="container">
            <div class="site-header">
                <a class="logo" href="index.html">SparkBlog</a>
                <a class="new-entry button button-round" href="new.html"><i class="material-icons">create</i></a>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="password">
                <form>
                    <label for="password">Enter Password</label>
                    <input type="password" name="password"><br>
                    <input type="submit" value="Submit" class="button">
                    <a href="#" class="button button-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </section>
{{/partial}}

{{> base.hbs}}